<!DOCTYPE html>
<html>
<head>
    <title>Mantenimiento</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="d-flex justify-content-center align-items-center" style="min-height: 100vh; margin: 0;">
    <div style="text-align: center;">
        <h1 class="display-4">¡En mantenimiento!</h1>
        <p class="lead">Lamentamos los inconvenientes, pero la plataforma se encuentra en mantenimiento en este momento.</p>
        <p class="lead">Estará disponible el 10 de Agosto a las 9am</p>
        <img src="/assets/media/Reinvented/ReinventedSCHL.png" class="img-fluid" style="max-width: 20%;" alt="Imagen">
    </div>
</body>
</html>