@{
    ViewBag.Title = "Mantenimiento";
    Layout = "~/Views/Layout/Master.cshtml";
}

<div style="text-align: center; margin-top: 100px;">
    <h1 style="font-size: 300%;">¡En mantenimiento!</h1>
    <p style="font-size: 150%;">Lamentamos los inconvenientes, pero la plataforma se encuentra en mantenimiento en este momento.</p>
    <p style ="font-size: 150%;">Estará disponible el 10 de Agosto a las 9am</p>
    <img src='@KTTheme.GetAssetPath("media/Reinvented/ReinventedSCHL.png")' style="width:20%" />

</div>