@using Domain;
@model List<Persona>;

@{
    ViewData["Title"] = "Estudiantes";
    KTTheme.AddVendors(new string[] { "amcharts", "amcharts-maps", "amcharts-stock" });
    KTTheme.AddJavascriptFile("js/custom/dropdown-select/dropdown.js");
    KTTheme.AddJavascriptFile("js/custom/boton-imput/boton.js");
    KTTheme.AddJavascriptFile("js/custom/CheckBox/CheckEstudiante.js");

    ViewBag.Padre = ViewData["Padre"];
    ViewBag.Madre = ViewData["Madre"];
    ViewBag.Representante = ViewData["Representante"];
    ViewBag.ListaEstudiantes = ViewData["ListaEstudiante"];
}
<form asp-action="RegistroEstudiante" asp-controller="Datos" id="formEstudiante" class="form" enctype="multipart/form-data">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card-title m-0">
        <h1 style="padding-left:20px; color:#3c7edd" class="fw-bold m-0 pt-10 pb-5">Registro del estudiante</h1>
        <div class="card-footer d-flex justify-content-end px-9">
            <button type="submit" onclick="enviarFormularios()" class="btn btn-primary">Guardar</button>
        </div>
    </div>
    <div class="row gx-5 gx-xl-10">
        <!--begin::Col-->
        <div class="col-xxl-6 mb-5 mb-xl-10">
            <!-- Madre -->
            <div class="card card-flush h-xl-90" style="margin: 20px;">
                <!--begin::Card header-->
                <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
                    <!--begin::Card title-->
                    <div class="card-title m-0">
                        <h3 class="fw-bold m-0">Información General</h3>
                    </div>
                    <!--end::Card title-->
                </div>
                <!--begin::Card header-->
                <!--begin::Content-->
                <div id="kt_account_settings_profile_details" class="collapse show">
                    <!--begin::Form-->
                    <!--begin::Card body-->
                    <div class="card-body border-top p-9">
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">Foto del estudiante</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8">
                                <!--begin::Image input-->
                                <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url(@KTTheme.GetAssetPath("media/avatars/blank.png"))">
                                    <!--begin::Preview existing avatar-->
                                    <div class="image-input-wrapper w-125px h-125px" style="background-image: url(@KTTheme.GetAssetPath("media/avatars/blank.png"))"></div>
                                    <!--end::Preview existing avatar-->
                                    <!--begin::Label-->
                                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Insertar imagen">
                                        <i class="ki-duotone ki-pencil fs-7 text-light"><span class="path1"></span><span class="path2"></span></i>
                                        <!--begin::Inputs-->
                                        <input type="file" name="Avatar" accept=".png, .jpg, .jpeg" />
                                        <input type="hidden" name="avatar_remove" />
                                        <!--end::Inputs-->
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Cancel-->
                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                                        <i class="ki-duotone ki-cross fs-2 text-light"><span class="path1"></span><span class="path2"></span></i>
                                    </span>
                                    <!--end::Cancel-->
                                    <!--begin::Remove-->
                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remover imagen">
                                        <i class="ki-duotone ki-cross fs-2 text-light"><span class="path1"></span><span class="path2"></span></i>
                                    </span>
                                    <!--end::Remove-->
                                </div>
                                <!--end::Image input-->
                                <!--begin::Hint-->
                                <div class="form-text">Tipos permitidos:  png, jpg, jpeg.</div>
                                <!--end::Hint-->
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--Nombres-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label required fw-semibold fs-6">Nombres Completos</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8">
                                <!--begin::Row-->
                                <div class="row">
                                    <!--begin::Col-->
                                    <div class="col-lg-6 fv-row">
                                        <input type="hidden" name="TipoPersonaId" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" value="" />
                                        <input type="text" name="Nombres" id="nombresEst" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" maxlength="70" placeholder="Nombres" oninput="validarLetras(event)" />
                                        <div id="errorNombresEst" class="error-message" style="color:red"></div>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--Apellidos-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label required fw-semibold fs-6">Apellidos completos</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8">
                                <!--begin::Row-->
                                <div class="row">
                                    <!--begin::Col-->
                                    <div class="col-lg-6 fv-row">
                                        <input type="text" name="Apellidos" id="apellidosEst" class="form-control form-control-lg form-control-solid" maxlength="70" placeholder="Apellidos" oninput="validarLetras(event)" />
                                        <div id="errorApellidosEst" class="error-message" style="color:red"></div>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                            </div>
                            <!--end::Col-->
                        </div>
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label required fw-semibold fs-6">Tipo de documento</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8">
                                <!--begin::Row-->
                                <div class="row">
                                    <!--begin::Col-->
                                    <div class="col-lg-6 fv-row">
                                        <select name="TipoIdentificacionId" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                            <option selected>Seleccione el tipo de documento</option>
                                            <option value="1">Cedula</option>
                                            <option value="2">Pasaporte</option>
                                        </select>
                                        <div id="errorTipoIdentificacion" class="error-message" style="color:red"></div>
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label required fw-semibold fs-6">Número de Identificación</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <!-- SUBIR PDF-->
                            <div class="col-lg-8 fv-row">
                                <div class="form-group" style="padding-top: 10px;">

                                    <!--begin::Image input-->
                                    <div class="col-lg-8 fv-row">
                                        <!-- SUBIR PDF-->
                                        <input type="text" name="Identificacion" id="IdentificacionEst" class="form-control form-control-lg form-control-solid" maxlength="20" placeholder="Documento" />
                                        <div id="errorIdentificacionEst" class="error-message" style="color:red"></div>
                                        @Html.ValidationMessageFor(model => model.FirstOrDefault().Identificacion, "", new { @class = "text-danger" })
                                        <!--begin::Modal - Upload File-->
                                    </div>
                                    <!--end::Image input-->
                                    <!--begin::Hint-->
                                    @*                                    <div class="form-text" style="padding-top: 10px;">
                                    PDF de la cedula o pasaporte
                                    </div>*@
                                </div>

                                <!--end::Hint-->

                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">Fecha de nacimiento</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <input type="date" name="FechaNacimiento" class="form-control form-control-lg form-control-solid" placeholder="Fecha de nacimiento" />
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">Dirección de domicilio</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                Calle Principal
                                <input type="text" name="CallePrincipal" class="form-control form-control-lg form-control-solid" maxlength="70" placeholder="Calle principal" />
                                Número de casa
                                <input type="text" name="Numero" class="form-control form-control-lg form-control-solid" maxlength="10" placeholder="Número" />
                                Calle Secundaria
                                <input type="text" name="CalleSecundaria" class="form-control form-control-lg form-control-solid" maxlength="70" placeholder="Calle Secundaria" />

                            </div>
                            <!--end::Col-->
                        </div>
                    </div>
                    <!--end::Form-->
                </div>
                <!--end::Content-->
            </div>
        </div>

        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xl-6 mb-5 mb-xl-10">
            <!-- Padre-->
            <div class="card card-flush h-xl-90" style="margin: 20px;">
                <!--begin::Card header-->
                <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
                    <!--begin::Card title-->
                    <div class="card-title m-0">
                        <h3 class="fw-bold m-0">Salud</h3>
                    </div>
                    <!--end::Card title-->
                </div>
                <!--begin::Card header-->
                <!--begin::Content-->
                <div id="kt_account_settings_profile_details" class="collapse show">
                    <!--begin::Form-->
                    @*                    <form id="kt_account_profile_details_form" class="form">*@
                    <!--begin::Card body-->
                    <div class="card-body border-top p-9">
                        <!--begin::Input group-->
                        <!--end::Input group-->
                        <!--Nombres-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">Peso (kg)</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8">
                                <!--begin::Row-->
                                <div class="row">
                                    <!--begin::Col-->
                                    <div class="col-lg-8 fv-row">
                                        <input type="text" name="Peso" class="form-control form-control-lg form-control-solid" maxlength="6" placeholder="Peso en kilos" oninput="validarNumeros(event)" />
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--Apellidos-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">Talla (cm)</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8">
                                <!--begin::Row-->
                                <div class="row">
                                    <!--begin::Col-->
                                    <div class="col-lg-8 fv-row">
                                        <input type="text" name="Talla" class="form-control form-control-lg form-control-solid" maxlength="6" placeholder="Talla en centímetros" oninput="validarNumeros(event)" />
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">¿El/la estudiante está vacunado/a contra covid 19?</label>
                            <div class="col-lg-2 form-check form-check-custom form-check-solid" style="padding-left: 10px;">
                                <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" />
                                <label class="form-check-label" for="flexCheckChecked">
                                    Sí
                                </label>
                            </div>
                            <div id="third-div" class="col-lg-6 fv-row" style="display: none;">
                                Ingrese el número de dosis
                                <input type="text" name="NumeroDosis" class="form-control form-control-lg form-control-solid" placeholder="Número de dosis" oninput="validarLetras(event)" />
                            </div>
                        </div>

                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">¿Tiene el/la estudiante alguna enfermedad crónica?</label>
                            <div class="col-lg-2 form-check form-check-custom form-check-solid" style="padding-left: 10px;">
                                <input class="form-check-input" type="checkbox" value="1" id="EnfermedadCheckChecked" />
                                <label class="form-check-label" for="EnfermedadCheckChecked">
                                    Sí
                                </label>
                            </div>
                            <div id="enfermedad-div" class="col-lg-6 fv-row" style="display: none;">
                                Especifique
                                <input type="text" name="EnfermedadCronica" class="form-control form-control-lg form-control-solid" placeholder="Enfermedad crónica" />
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">¿Recibe el/la estudiante medicación continua?</label>
                            <div class="col-lg-2 form-check form-check-custom form-check-solid" style="padding-left: 10px;">
                                <input class="form-check-input" type="checkbox" value="1" id="MedicacionCheckChecked" readonly />
                                <label class="form-check-label" for="MedicacionCheckChecked">
                                    Sí
                                </label>
                            </div>
                            <div id="medicacion-div" class="col-lg-6 fv-row" style="display: none;">
                                Especifique
                                <input type="text" name="MedicacionContinua" class="form-control form-control-lg form-control-solid" placeholder="Medicación continua" />
                            </div>
                            <!--end::Label-->
                            <!--begin::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">¿El/la estudiante ha sido sometido/a a alguna cirugía?</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-2 form-check form-check-custom form-check-solid" style="padding-left: 10px;">
                                <input class="form-check-input" type="checkbox" value="1" id="CirugiaCheckChecked" />
                                <label class="form-check-label" for="CirugiaCheckChecked">
                                    Sí
                                </label>
                            </div>
                            <div id="Cirugia-div" class="col-lg-6 fv-row" style="display: none;">
                                Especifique
                                <input type="text" name="Cirugia" class="form-control form-control-lg form-control-solid" placeholder="Nombre de la cirugía" />
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">Autoriza la suministración de antiinflamatorios o analgésicos</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-2 form-check form-check-custom form-check-solid" style="padding-left: 10px;">
                                <input name="Analgesico" class="form-check-input" type="checkbox" id="Analgesico" />
                                <label class="form-check-label" for="Analgesico">
                                    Sí autorizo
                                </label>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-4 col-form-label fw-semibold fs-6">¿Tiene el/la estudiante seguro médico privado?</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-6 fv-row">
                                    <input type="text" name="SeguroPrivado" class="form-control form-control-lg form-control-solid" placeholder="Nombre del seguro médico privado" />
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-4 col-form-label fw-semibold fs-6">Datos en caso de emergencia:</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-8 fv-row">
                                    Nombre del médico de cabecera:
                                    <input type="text" name="NombreMedico" class="form-control form-control-lg form-control-solid" maxlength="70" placeholder="Nombre del médico pediatra" oninput="validarLetras(event)" />
                                    Teléfono convencional del médico
                                    <input type="text" name="TelefonoMedico" class="form-control form-control-lg form-control-solid" maxlength="10" placeholder="Telefono del médico pediatra" />
                                    Teléfono celular del médico
                                    <input type="text" name="CelularMedico" class="form-control form-control-lg form-control-solid" maxlength="10" placeholder="Telefono del médico pediatra" />
                                    Dirección del consultorio médico
                                    <input type="text" name="DireccionMedico" class="form-control form-control-lg form-control-solid" placeholder="Dirección del médico pediatra" />
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-4 col-form-label fw-semibold fs-6">En caso de tener alergias describirlas</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-6 fv-row">
                                    <input type="text" name="Alergias" class="form-control form-control-lg form-control-solid" maxlength="300" placeholder="Nombre de la alergia" />
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-4 col-form-label fw-semibold fs-6">En caso de tener restricciones alimenticias describir</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-6 fv-row">
                                    <input type="text" name="RestriccionAlimento" class="form-control form-control-lg form-control-solid" maxlength="500" placeholder="Nombre de los alimentos restringidos" />
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="row mb-6">
                                <!--begin::Label-->
                                <label class="col-lg-4 col-form-label fw-semibold fs-6">¿Algún dato adicional de salud que se considere importante reportar al colegio?</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-6 fv-row">
                                    <input type="text" name="DatoAdicional" class="form-control form-control-lg form-control-solid" maxlength="500" placeholder="Dato adicional" />
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Input group-->
                        </div>
                        <!--end::Card body-->
                        @*</form>*@
                        <!--end::Form-->
                    </div>
                    <!--end::Content-->
                </div>
            </div>
        </div>
    </div>
</form>


