@using Infrasctructure.Repositories;
@using Domain;
@model ReinventedPuembo.Models.RecoveryViewModel;
﻿@{
    ViewData["Title"] = "Olvidaste la contraseña";
    Layout = KTTheme.GetView("Auth.cshtml");
    KTTheme.AddJavascriptFile("js/custom/authentication/sign-in/general.js");
}

<!--begin::Form-->
<form id="forgotPasswordForm" asp-action="ForgotPassword" asp-controller="Usuarios" method="Post" class="form w-100" novalidate="novalidate">
    <!--begin::Heading-->
    <div class="text-center mb-10">
        <!--begin::Title-->
        <h1 class="text-dark fw-bolder mb-3">
            ¿Ha olvidado su contraseña?
        </h1>
        <!--end::Title-->
        <!--begin::Link-->
        <div class="text-gray-500 fw-semibold fs-6">
            Introduce tu correo electrónico para restablecer tu contraseña.
        </div>
        <!--end::Link-->
    </div>
    <!--begin::Heading-->
    <!--begin::Input group--->
    <div class="fv-row mb-8">
        <!--begin::Email-->
        @*<input type="text" placeholder="Email" name="email" autocomplete="off" class="form-control bg-transparent" />*@
        <!--end::Email-->
        @Html.TextBoxFor(d=>d.Email, null, new{@class = "form-control"})
        @Html.ValidationMessageFor(d=>d.Email, null, new{style="color:red;"})
    </div>

    <!--begin::Actions-->
    <div class="d-flex flex-wrap justify-content-center pb-lg-0">
        <button id="submitButton" class="btn btn-primary me-4">
            Recuperar
        </button>

        <a asp-action="login" asp-controller="usuarios" class="btn btn-light">Cancelar</a>
    </div>

    <!--end::Actions-->
</form>
<!--end::Form-->
@*    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("submitButton").addEventListener("click", function (event) {

            var form = document.getElementById("forgotPasswordForm");
            if (!form.checkValidity()) {
                return; // Salir si el formulario no es válido
            }

                Swal.fire({
                    title: "Revisa tu correo para continuar cambiando la contraseña",
                    icon: "success",
                    showConfirmButton: false,
                    timer: 2000
                });
                document.getElementById("forgotPasswordForm").submit();
            });
        });
    </script>*@
