<!-- Modal-->
<div class="modal fade" id="viewModalChildren" tabindex="-1" aria-hidden="true">
    
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Padres</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
            </div>

            <!--end::Close-->
            <div class="modal-body">
                <table id="data-table-padres" class="display">
                    <thead>
                        <tr>
                            <th >Avatar</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Parentesco</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
